.content {
    flex: 1;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center;
  }

  .center-container .container-nev {
    display: flex;
    align-items: center;
  }

  .center-container .container-nev .info {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  .center-container .container-nev .image {
    flex: 1;
    text-align: center;
  }

  .center-container .container-nev img {
    max-width: 100%;
    height: auto;
  }

  .button_1{
    margin-top: 1150px;
  }